#evolution{
  width: 100%;
  height: 100%;
  font-family: Sans-Serif, Arial;
}

#evolution svg{
  width: 100%;
  height: 100%;
}
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}